@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofia+Sans:wght@400;600;700&display=swap");

/* Använd Sofia Sans för kroppstext */
body {
  font-family: "Sofia Sans", sans-serif;
}

/* Använd Bebas Neue för rubriker */
h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}

/* Lägg till globala stilar för header och footer */
header,
footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
}

main {
  padding: 20px;
}
